/* @font-face {
  font-family: TTHoves;
  src:
    local("TTHoves-Regular"),
    local("TTHoves Regular"),
    url("#assets/fonts/TTHoves-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: TTHoves;
  src:
    local("TTHoves-Medium"),
    local("TTHoves Medium"),
    url("../assets/fonts/TTHoves-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
} */
