html {
  font: var(--baseFontWeight) var(--baseFontSize) / var(--baseLineHeight)
    var(--baseFontFamily);
}

/* stylelint-disable-next-line selector-class-pattern */
.fancybox__backdrop {
  /* stylelint-disable-next-line custom-property-pattern */
  --fancybox-bg: #0003;
}
