/* https://coolors.co/ - имена для цветов берем отсюда */

:root {
  --colorPlatinum: #d9d9d9;
  --colorCrayola: #4772ff;

  --colorWhite: #fff;
  --colorGray: var(--colorPlatinum);
  --colorPrimary: var(--colorCrayola);
}
