/* https://coolors.co/ - имена для цветов берем отсюда */

:root {
  --colorPlatinum: #d9d9d9;
  --colorAntiFlashWhite: #f0f0f0;
  --colorCrayola: #4772ff;
  --colorImperialRed: #f93639;
  --colorLimeGreen: #27c632;

  --colorWhite: #fff;
  --colorBlack: #000;
  --colorRed: var(--colorImperialRed);
  --colorGray: var(--colorPlatinum);
  --colorGrayLight: var(--colorAntiFlashWhite);
  --colorGreenLight: var(--colorLimeGreen);
  --colorPrimary: var(--colorCrayola);
}
