/* https://coolors.co/ - имена для цветов берем отсюда */

:root {
  --colorPlatinum: #d9d9d9;
  --colorCrayola: #4772ff;
  --colorImperialRed: #f93639;

  --colorWhite: #fff;
  --colorRed: var(var(--colorImperialRed));
  --colorGray: var(--colorPlatinum);
  --colorPrimary: var(--colorCrayola);
}
