.loader {
  --loaderBgColor: #fff width: 48px;
  height: 6rem;
  border: 5px solid var(--loaderBgColor);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  /* stylelint-disable-next-line rule-empty-line-before */
  100% {
    transform: rotate(360deg);
  }
}
